# Add any directories, files, or patterns you don't want to be tracked by version control
logs
.bash_history
.pm2
.viminfo
.vim
.npm
.rediscli_history
.lesshst
.node-gyp
jsconfig.json
gui/static/assets/*
gui/demo

/node_modules/
# /logs/

lib-cov
*.seed
*.log
*.out
*.pid
*.pem
*.iml
npm-debug.log

*~
*#
.DS_STORE
.netbeans
.vscode
.eslintrc.json
.vscode/
nbproject
.idea
.idea/*
.node_history
.bash_logout
.bashrc
.profile
.ssh
.node_repl_history
.cache
.selected_editor
current
source
.jshintrc
https.crt
https.key

lib/https.key
lib/https.pem
lib/https.crt
lib/remote-mgmt.key
lib/remote-mgmt.pub
lib/ios_certificates

.env
cms-ui.code-workspace
